body{
    margin: 0px;
    padding: 0px;
    background-color: #A67B5B;
}

header {
  background-color:#FBF6E2;
  top: 0px;
  width: 100%;
}
nav ul {
	list-style: none;
	margin:0px;
	padding: 40px;
	display: flex;
    padding-left: 600px;
}

nav li {
	margin-right: 20px;
    font-size: medium;
}
nav li:hover{
   color: #A67B5B;
   text-decoration:underline;
}
nav a {
	color: #333;
	text-decoration: none;
}
